<body [ngClass]="{'imgbody1': imgId == 1, 'imgbody0': imgId == 0,'imgbody2': imgId == 2,'imgbody3': imgId == 3,'imgbody4': imgId == 4}">
  <section>
    <span class="login" (click)="modalOpen('login')">
      <div class="center"><a class="pushme"> <span class="inner">Connexion</span></a></div>
    </span>
    <mat-card class="example-card">
      <div class="slogan">
        <img src="assets/imgs/5255be76-899e-4ef6-989b-71ce6f9d7d4f_200x200.png" alt="5255be76-899e-4ef6-989b-71ce6f9d7d4f_200x200">
        <span>Join a meeting, Join the world.</span>
      </div>
      <mat-card-content>
        <div class="content-class">
          <mat-form-field appearance="outline">
            <mat-label style="color:black!important">ID de la session</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>language</mat-icon>
          </mat-form-field>
          <div class="center"><a class="pushme"> <span class="inner">Joindre session</span></a></div>
          <button mat-button color="primary" (click)="modalOpen('newsession')">Créer une session</button>
          <button mat-button style="display:flex;align-items:center" (click)="modalOpen('newaccount')">
            <span style="margin-right:5px;">Nouveau sur la plateforme? Créer un compte</span>
            <mat-icon>person_add</mat-icon>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
    <footer>
      <span>Développé en Angular 8, NodeJS, PeerJS, Lando dieudonné </span>
      <mat-icon>info</mat-icon>
    </footer>
  </section>
</body>