<body>
  <div class="header">
    <aside>
      <div *ngFor="let arr of arrayIconsText" [ngClass]=" { 'logout-class' : arr?.out, 'selected-class' : arr?.check }"
        (click)="selectCard(arr?.type)">
        <mat-icon>{{ arr?.icon }}</mat-icon>
        <span>{{ arr?.name }}</span>
      </div>
    </aside>
    <section>
      <header>
        <div class="center">
          <a class="pushme" *ngIf="selected == 'rooms' || selected ==  'events' || selected == 'world'" (click)="createSession()">
            <span class="inner">Créer room</span>
          </a>
        </div>
      </header>
      <div *ngIf="selected == 'rooms'" class="created">
        <img src="assets/imgs/undraw_empty_xct9.svg" alt="undraw_empty_xct9" class="empty" *ngIf="array == 0">
          <mat-card class="example-card" *ngFor="let item of array">
              Simple card
          </mat-card>
      </div>
      <div *ngIf="selected == 'world'" class="created">
        <img src="assets/imgs/undraw_connected_world_wuay.svg" alt="undraw_connected_world_wuay" class="empty">
      </div>
      <div *ngIf="selected == 'events'" class="created">
        <img src="assets/imgs/undraw_calendar_dutt.svg" alt="undraw_calendar_dutt" class="empty">
      </div>
    </section>
    <div class="profil" *ngIf="selected != 'parameters'">
      <img src="assets/imgs/blank-profil.png" alt="blank-profil">
    </div>
  </div>
</body>