<body>
  <div class="header-big">
    <aside>
      <div *ngFor="let arr of arrayIconsText" [ngClass]=" { 'logout-class' : arr?.out, 'selected-class' : arr?.check }"
        (click)="selectCard(arr?.type)">
        <mat-icon>{{ arr?.icon }}</mat-icon>
        <span>{{ arr?.name }}</span>
      </div>
    </aside>
    <section>
      <header class="menu">
        <div class="center">
          <a class="pushme" *ngIf="selected == 'rooms' || selected ==  'events' || selected == 'world'"
            (click)="createSession()">
            <span class="inner">Créer room</span>
          </a>
        </div>
        <img src="assets/imgs/blank-profil.png" alt="blank-profil" class="blank-profil" *ngIf="selected == 'rooms' || selected ==  'events' || selected == 'world'">
      </header>
      <div *ngIf="selected == 'rooms'" class="created">
        <img src="assets/imgs/undraw_empty_xct9.svg" alt="undraw_empty_xct9" class="empty"
          *ngIf="dataSource?.length == 0">

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="dataSource?.length > 0">

          <!-- Name Column -->
          <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef> image </th>
            <td mat-cell *matCellDef="let element"> <img src="assets/imgs/blank-profil.png"
                alt="assets/imgs/blank-profil.png" class="img-table"> </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> name </th>
            <td mat-cell *matCellDef="let element"> {{element?.creator?.lastname}} {{element?.creator?.firstname}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> date </th>
            <td mat-cell *matCellDef="let element"> {{element.date.toDate() | amLocale:'fr' | amTimeAgo:true  }} </td>
          </ng-container>

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element?.idSession}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <!-- <mat-spinner *ngIf="loading" [diameter]="40"></mat-spinner> -->
        </table>

      </div>
      <div *ngIf="selected == 'world'" class="created">
        <img src="assets/imgs/undraw_connected_world_wuay.svg" alt="undraw_connected_world_wuay" class="empty">
      </div>
      <div *ngIf="selected == 'events'" class="created">
        <img src="assets/imgs/undraw_calendar_dutt.svg" alt="undraw_calendar_dutt" class="empty">
      </div>
    </section>
  </div>
</body>
